# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/
public/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# IDE or Editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage directory used by tools like istanbul
coverage/

# Misc
*.tgz
